@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

:root {
  --primary-color: #0067DA;
  --secondary-color: #227afe;
  --orange: #fa5928;
  --green: #0bc133;
  --gray: #4f4f4f;
  --lavender: #ede8fd;
  --indigo: #1d1e3c;
}

.padding-x {
  @apply px-[10rem] lg:max-2xl:px-[3rem] sm:max-lg:px-[2rem] max-sm:px-[1rem];
}


.customFadeSwiper {
 @apply w-full 
}

.customFadeSwiper .fade-slide {
  opacity: .7;
  transition: opacity 1.5s ease-in-out;
}

.customFadeSwiper .swiper-slide-active {
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 16px !important;
  height: 16px !important;
  background: rgb(200, 42, 42) !important;
}

.swiper-pagination {
  bottom: 120px !important;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: #888787 !important;
}

/* Active Tab Styling */
.data-\[state\=active\]\:shadow[data-state="active"] {
  @apply bg-primary text-white py-4 px-6 font-medium rounded-none w-[20rem] max-sm:px-2 flex justify-start relative max-sm:w-[10rem];
}



/* Inactive Tab Styling */
.data-\[state\=active\]\:shadow[data-state="inactive"] {
  @apply bg-[#F5F8FB] text-black py-4 px-6 font-medium rounded-none w-[20rem]   max-sm:px-2 flex justify-start border-b border-[#E5E8EF] max-sm:w-[10rem];
}


